@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Gabarito', system-ui, sans-serif !important;
  }
}

$color-white: #fff;
$color-red: #ff004e;
$color-yellow: #ffb400;
$color-green: #19e3a3;
$color-blue: #0096ff;

$md-breakpoint: 768px;
$lg-breakpoint: 1024px;
$xl-breakpoint: 1280px;

header {
  nav ul.header__nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 0.9rem;
    padding-right: 0.9rem;
    padding-top: 0.8rem;
    padding-bottom: 0.7rem;

    @media only screen and (min-width: $lg-breakpoint) {
      flex-direction: row;
      text-align: auto;
      padding: 0;
    }

    li {
      position: relative;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1.1rem;
      border-top: 1px solid lightgray;

      @media only screen and (min-width: $lg-breakpoint) {
        margin: 0 0.8rem !important;
        border-radius: 0;
        border: none;
        border-bottom: 3px solid transparent;
      }
      @media only screen and (min-width: $xl-breakpoint) {
        margin: 0 2.2125rem !important;
      }

      a {
        display: block;
        padding: 1rem 2.5rem;
        @media only screen and (min-width: $lg-breakpoint) {
          display: inline;
          padding: 0;
        }
      }

      @media only screen and (min-width: $lg-breakpoint) {
        &.menu-item-has-children:hover > ul.sub-menu {
          display: block;
        }
      }

      &.menu-item-has-children > a::after {
        display: inline-block;
        content: ' ';
        background-image: url('../img/arrow-down.png');
        width: 11px;
        height: 9px;
        background-size: 100%;
        background-repeat: no-repeat;
        margin-left: 5px;
      }

      ul.sub-menu {
        display: none;
        li {
          a {
            font-weight: normal;
          }
        }

        @media only screen and (min-width: $lg-breakpoint) {
          position: absolute;
          background-color: white;
          border-radius: 6px;
          border: 1px solid lightgray;
          padding: 6px;
          width: 255px;
          top: 100%;
          left: -15px;
          li {
            border: none;
            border-radius: 5px;
            margin: 0 !important;
            
            a {
              text-align: left;
              font-weight: bold;
              display: block;
              width: 100%;
              padding: 3px 8px;
            }
            &:hover {
              background-color: #e7e7e7;
            }
          }
        }
      }

      a:hover, &.current_page_item a {
        background-color: #f5f5f5;
        @media only screen and (min-width: $lg-breakpoint) {
          background-color: transparent;
        }
      }

      &:hover, &.current_page_item {
        @media only screen and (min-width: $lg-breakpoint) {
          border-color: transparent;
          border-bottom-color: $color-blue;
        }
      }
    }
    > li:last-child {
      margin-right: 0 !important;
      margin-bottom: 0 !important;
      padding-top: 10px;
      
      @media only screen and (min-width: $lg-breakpoint) {
        padding-top: 0;
        border-color: transparent !important;
      }

      a {
        @extend .btn;
        @extend .btn--yellow;
        padding: 1rem 2.5rem;
        border-radius: 0.5rem;
        display: block;
        width: 100%;

        @media only screen and (min-width: $lg-breakpoint) {
          width: auto;
          display: inline;
        }
      }
    }
  }
}

.info-block {
  transition: 0.45s ease;
  &:hover .info-block__inside__read-more {
    color: #007eff;
  }

  &__inside {
    margin: 0 auto;
  
    .btn {
      width: 172px;
      height: 167px;
    }
    &__read-more {
      color: rgba(0, 0, 0, 0);
      transition: .4s ease;
    }
  }
}

.working-with-container img {
  filter: invert(21%) sepia(97%) saturate(1581%) hue-rotate(186deg) brightness(96%) contrast(98%); // generated with https://isotropic.co/tool/hex-color-to-css-filter/
}

footer {
  .footer-title {
    &__last-word-wrapper {
      position: relative;
      display: block;
    
      &__text {
        background-color: white;
        position: relative;
        z-index: 2;
        padding-right: 0.9375rem;
      }
      &__accessory {
        position: absolute;
        z-index: 1;
        display: block;
        height: 4px;
        width: 100%;
        transform: translateY(-50%);
        top: 50%;
        overflow: hidden;
      }
    }
  }
  .footer-contacts p, .footer-contacts a, ul.footer__nav li {
    margin: 0.75rem 0;
  }
  .social-media-logo {
    transition: 0.2s;
    &:hover {
      filter: brightness(0) saturate(0%);
    }
  }
}

.right-icon {
  width: 29px;
  height: 29px;
  filter: invert(95%) sepia(5%) saturate(205%) hue-rotate(175deg) brightness(85%) contrast(105%);
}

.btn {
  color: $color-white;
  text-transform: uppercase;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
  font-weight: bold;
}

@mixin colored-button($color) {
  background-color: $color !important;
  box-shadow: 0px 4px darken($color, 10);
  &:hover:not(.btn--no-hover) {
    background-color: darken($color, 5) !important;
  }
}

.btn--red {
  @include colored-button($color-red);
}
.btn--yellow {
  @include colored-button($color-yellow);
}
.btn--blue {
  @include colored-button($color-blue);
}

.bg-blue {
  background-color: $color-blue;
}
.bg-red {
  background-color: $color-red;
}
.bg-yellow {
  background-color: $color-yellow;
}
.bg-green {
  background-color: $color-green;
}

.wpcf7 form .wpcf7-response-output, .form-message {
  text-align: center;
  font-weight: bold;
  color: black;
  border-radius: 8px;

  padding: 0.4rem 0.5rem;
  border: 2px solid transparent;
}

.wpcf7 form .wpcf7-response-output {
  margin: 1rem 0 0 0;
}

.wpcf7 form.sent .wpcf7-response-output {
  border-color: #37C044;
  background-color: #55D561;
}

.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output,
.wpcf7 form.spam .wpcf7-response-output,
.wpcf7 form.failed .wpcf7-response-output,
.wpcf7 form.aborted .wpcf7-response-output,
.form-message--error {
  border-color: #CC516B;
  background-color: #E76C86;
}

.page-numbers {
  @extend .btn;
  @extend .btn--yellow;
  padding: 5px 8px;
  border-radius: 5px;
  font-size: 1.2rem;
}

.page-numbers.current {
  background-color: darken($color-yellow, 5) !important;
  box-shadow: 0px 4px darken($color-yellow, 20) !important;
}
